@*@model IEnumerable<ForumWeb.ViewModel.HomeDataViewModel>*@
@*@model ForumWeb.ViewModel.HomeDataViewModel*@
@model IEnumerable<ForumWeb.Models.Post>
@*@model ForumWeb.Models.Post*@
@*@model IEnumerable<ForumWeb.Models.PostReply>*@
@{
    ViewBag.Title = "帖子详情";
}

<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/login/style.css" media="screen" rel="stylesheet" />
<link href="~/css/login/reset.css" type="text/css" rel="stylesheet" />

<style type="text/css">
    .test1 {
        border: 2px solid black; /*设置边框1px，实线，边框线色为#a0b3d6 */
        width: 1650px;
        height: 150px;
        font-size: 14px;
        padding: 4px;
        color: #333;
        outline: 0; /* 当元素获得焦点的时候，焦点框为0.去掉虚线框（或高亮框）*/
    }

    .input {
        width: 1650px;
        min-height: 200px;
        padding: 4px;
        outline: 0; /* 当元素获得焦点的时候，焦点框为0.去掉虚线框（或高亮框）*/
    }
</style>


<div class="card-deck">


    <div class="card m-3">

        @foreach (var PostReply in Model)
        {


            <div class="card-header">
                <h3>ID：@Html.DisplayFor(Post => PostReply.Id)</h3>
                <h3>标题：@Html.DisplayFor(Post => PostReply.Title)</h3>
            </div>

            <div class="card-footer text-center">
                <ul style="list-style-type:none">
                    <li>
                        <div class="test1">

                            <textare row="1" clos="100">
                                <h4>@Html.DisplayFor(Post => PostReply.Content)</h4>
                            </textare>
                        </div>
                    </li>
                    <li>
                        <h4>发布日期：@Html.DisplayFor(Post => PostReply.Created)</h4>
                    </li>
                    <li>
                        @*<h4>发布人：@Html.DisplayFor(Post => PostReply.User.Administrators)</h4>*@
                    </li>

                </ul>
            </div>

            <div class="card-footer text-center">
                <h6>这里是评论区</h6>

                @if (Html.DisplayFor(Post=>PostReply.PostReply.Id) != null)
                {
                    <div class="card-header">
                        <h3>ID：@Html.DisplayFor(Post => PostReply.PostReply.Id)</h3>

                    </div>

                    <div class="card-footer text-center">
                        <ul style="list-style-type:none">
                            <li>
                                <div class="test1">

                                    <textare row="1" clos="100">
                                        <h4>@Html.DisplayFor(Post => PostReply.PostReply.Content)</h4>
                                    </textare>
                                </div>
                            </li>
                            <li>
                                <h4>发布日期：@Html.DisplayFor(Post => PostReply.PostReply.Created)</h4>
                            </li>
                            <li>
                                <h4>发布人：@Html.DisplayFor(Post => PostReply.PostReply.User.Name)</h4>
                            </li>

                        </ul>
                    </div>
                }
                @*<div class="card-header">
                    <h3>id：@PostReply.PostReply.Id</h3>

                </div>

                <div class="card-footer text-center">
                    <ul style="list-style-type:none">
                        <li>
                            <div class="test1">

                                <textare row="1" clos="100">
                                    <h4>@PostReply.PostReply.Content</h4>
                                </textare>
                            </div>
                        </li>
                        <li>
                            <h4>发布日期：@PostReply.PostReply.Created</h4>
                        </li>
                        <li>

                        </li>

                    </ul>
                </div>*@





                <form asp-controller="Home" asp-action="Data" method="post">
                    <div class="form-group row">
                        <div class=" col-sm-10">
                            <textare row="10" clos="100">
                                <input class="form-control input" placeholder="请留下你的评论~" />
                            </textare>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="回帖" class="btn btn-primary" />
                    </div>

                </form>


                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">返回</a>
            </div>

        }



        @*<div class="card-header">
            <h3>ID：@Model.Post.Id</h3>
            <h3>标题：@Model.Post.Title</h3>
        </div>

        <div class="card-footer text-center">
            <ul style="list-style-type:none">
                <li>
                    <div class="test1">

                        <textare row="1" clos="100">
                            <h4>@Model.Post.Content</h4>
                        </textare>
                    </div>
                </li>
                <li>
                    <h4>发布日期：@Model.Post.Created</h4>
                </li>
                <li>
                    <h4>发布人：@Model.Post.User.Users</h4>
                </li>

            </ul>
        </div>

        <div class="card-footer text-center">
            <h6>这里是评论区</h6>


                @if (Html.DisplayNameFor(model => model.PostReply.Id) != null)
                {

                    <div class="card-header">
                        <h3>ID：@Html.DisplayNameFor(model => model.PostReply.Id)</h3>
                    </div>

                    <div class="card-footer text-center">
                        <ul style="list-style-type:none">
                            <li>
                                <div class="test1">

                                    <textare row="1" clos="100">
                                        <h4>@Html.DisplayFor(model => Model.PostReply.Content)</h4>
                                    </textare>
                                </div>
                            </li>
                            <li>
                                <h4>发布日期：@Html.DisplayFor(model => Model.PostReply.Created)</h4>
                            </li>
                            <li>
                                <h4>发布人：@Html.DisplayFor(model => Model.PostReply.User.Name)</h4>
                            </li>

                        </ul>
                    </div>

                }


                <form asp-controller="Home" asp-action="Data" method="post">
                    <div class="form-group row">
                        <div class=" col-sm-10">
                            <textare row="10" clos="100">
                                <input asp-for="PostReply.Content" class="form-control input" placeholder="请留下你的评论~" />
                            </textare>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="回帖" class="btn btn-primary" />
                    </div>

                </form>

            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">返回</a>

        </div>*@

    </div>

</div>
